.popUp {
  position: absolute;
  top: 0;
  left: 0;
  /* transform: translate(-50%, -50%); */
  /* z-index: 2; */
  /* background-color: #CCD1D9; */
  width: 15rem;
  height: auto;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  text-align: left;
  /* padding: 2rem 2rem 1rem 2rem; */
  margin: 3rem;
  color: rgb(118, 118, 118);
}

.txt {
  margin: 1rem 0 0 0;
}

.txtSpan {
  font-weight: bolder;
  color: rgba(196, 75, 75, 0.674);
}

.popUpBkg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  backdrop-filter: blur(2px) brightness(60%);
}

.btn {
  padding: .5rem;
  background: rgba(255,206,84,1);
  border: #c59f3f 3px solid;
  border-radius: 2px;
  cursor: pointer;
  margin: 1rem 3rem;
}

.wrapper {
  margin: 10rem auto;
  border-radius: 25px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  height: 40rem;
  width: 40rem;
  display: flex;
  flex-direction: column;
  background: rgb(204,209,217);
  background: linear-gradient(90deg, rgba(204,209,217,1) 0%, rgba(243,244,246,1) 100%);
  
}

.inputBPM {
  background: rgb(204,209,217);
  border-radius: 25px;
  padding: 1rem;
  width: auto;
  margin: 2rem auto;
  border: #CCD1D9 3px solid;
  color: black;
}

.FXPad {
  border-radius: 25px;
  width: 20rem;
  height: 20rem;
  /* background-color: #FFCE54; */
  background: rgb(255,206,84);
  background: linear-gradient(90deg, rgba(255,206,84,1) 0%, rgba(255,225,151,1) 100%);
  border: #c59f3f 3px solid;
  margin: auto;
  display: flex;
}

.arrows {
  margin: auto;
}

.controlsContainer {
  display: flex;
  margin: auto;
  gap: 2rem;
}

.power {
  margin: auto;
}

.play, .stop, .power {
  cursor: pointer;
}